@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
}

body {
    background-color: #23252C;
}

main {
    max-width: 317px;
    margin: 20px auto;
    background-color: #1A1B21;
    border-radius: 0px 0px 10px 10px;
}

.info {
    text-align: center;
}

.info-img-placeholder {
    background-image: url(./img/passport.jpeg);
    background-position: -180px -275px;
    border-radius: 10px 10px 0 0;
    width: 317px;
    height: 317px;
}

.info > h3 {
    padding: 20px 8px 10px 8px;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.info-title {
    padding: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #F3BF99;
}

.info-website {
    padding: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.info-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 34px;
}

.info-email-btn,
.info-linkedin-btn {
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.info-email-btn:hover,
.info-linkedin-btn:hover {
    transform: translateY(3px);
    transition: all 500ms ease-in-out;
}

.info-email-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    color: black;
    background: #ffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.info-linkedin-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    background: #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.about, 
.interests {
    padding: 10px 34px;
}

.about > h4, 
.interests > h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;

}

.about > p,
.interests > p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

.footer > a {
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.footer > a:hover {
    transform: translateY(-3px);
    transition: all 500ms ease-in-out;
}